/* style.css */
html, body {
  height: 100%;
  margin: 0;
  font-family: Arial, sans-serif;
}

.d-flex.flex-column.min-vh-100 {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.flex-fill {
  flex: 1 0 auto;
}

#footer {
  flex-shrink: 0;
}

.book-img {
  width: 100px;
  height: auto;
  cursor: pointer;
}

.event-img {
  width: 100%;
  height: auto;
  cursor: pointer;
}
